{% extends "ecloreuserBundle::page_lambda.html.twig" %}

{% block title %}Rechercher un projet{% endblock %}

{%set color='vert'%}
{%set first='Les projets'%}
{%set second='Rechercher un projet'%}


{% block content %}
ceci est la page de recherche des projets<br>
Filtrer par label:
<select id='label_select' multiple='multiple'>
</select>
<br>

Filtrer par association:
<select id='association_select' multiple='multiple'>
</select>
<br>

<div id='loading'>Chargement en cours...
    <img src="{{ asset('bundles/ecloreuser/images/rechercher-projet/ajax-loader.gif') }}"/>
</div>
<div id='results'>
</div>
<br>
<input type='text' id='loc'><input type='button' id='loc_submit' value='chercher'><br>
<div id="map-canvas" style="width:800px;
 height:300px;
 border:1px solid grey;"/>


 <script type="text/javascript">
 var url = "{{path('ecloreuser_rechercherProjet')}}"
 var voirProjetUrl = "{{path('show_project',{'id':0})}}"
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLfY0Ipd6nAQNg2sk8h9G4oeNltMGhoCI&sensor=true"></script>

{% javascripts 'bundles/ecloreuser/js/jquery.min.js' 'bundles/ecloreuser/js/projects/*' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}
